
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

:root {
  --primary-color: #52796F;
  --secondary-color: #78a081;
  --bs-body-font-family: 'Koh Santepheap', serif;

 
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 16px;            
  line-height: 1.6;           
  -webkit-font-smoothing: antialiased; 
  color: #2d3436;             
}

.swal2-popup {
  font-family: 'Kantumruy Pro', sans-serif !important; /* ឬ Font ដែលអ្នកកំពុងប្រើ */
}