* {
  font-family: 'Kantumruy Pro', 'Noto Sans Khmer', sans-serif !important;
}
:root {
  --primary-color: #52796F;
  --secondary-color: #78a081;
  --bs-body-font-family: 'Koh Santepheap', serif;
 
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 16px;            
  line-height: 1.6;           
  -webkit-font-smoothing: antialiased; 
  color: #2d3436;             
}
